*{
    margin: 0;
    padding: 0;
    background-color: rgb(15, 98, 146);
}
h1{
    background-color: rgb(11, 113, 131);
    color: rgb(234, 158, 17);
}
h1:hover{
    background-color: rgb(14, 193, 233);
}

input  {
    background-color: white;
}
img{
    display: flex;
    width: 850px;
    height: 700px;
}
h3{
    color: white;
}
button{
    background-color: rgb(141, 182, 218);
    border: 2px white;
    border-radius: 90px;
    color: white;
    font-size:1rem ;
}
button:hover{
    background-color: rgb(6, 45, 77);
}